.completed {
	text-decoration: line-through;
}

.secondary-content  a {
	margin: 0 0.5em;
}

.complete-task {
	color: greenyellow;
}

.incomplete-task {
	color: darkred;
}

.delete-task {
	color: darkgray;
}

i {
	cursor: pointer;
}

.center-button {
	text-align: center;
}

.input-field {
	margin: 0 auto;
	width: 75%;
}